/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: ExtraBold;
    src: url('./assets/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: MediumF;
    src: url('./assets/fonts/Poppins-Medium.ttf');
}
@font-face{
    font-family: BoldPoppins;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: MediumItalic;
    src: url('./assets/fonts/Poppins-MediumItalic.ttf');
}